---
permalink: testing/{{ page.fileSlug }}.html
---

{% extends "layouts/lib/base.njk" %}


{% block content %}

<hr>
  <button type="button" class="btn btn-primary">Button .btn-primary</button>

{% endblock %}
